@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&family=Roboto:wght@300;400;700;900&display=swap');
:root {

    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --font-size--small: 1.4rem; /* 14px */
    --font-size--default: 1.6rem; /* 16px */
    --font-size--large: 2.4rem; /* 24px */
}

html{
    font-family: 'Nunito', sans-serif;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: var(--gray);
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 2.8rem;
    color: var(--gray);
}

h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--gray);
}

p, li{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--gray);
}