*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding-left: 0;
}

strong{
  font-weight: 700;
}

sup{
  position: relative;
  font-size: 60%;
  top: -0.5em;


}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-3{
  margin-top: 3rem;
}

.mt-4{
  margin-top: 4rem;
}

.mt-5{
  margin-top: 5rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb-3{
  margin-bottom: 3rem;
}

.mb-4{
  margin-bottom: 4rem;
}

.mb-5{
  margin-bottom: 5rem;
}

.fixed{
  position: fixed !important;
  top: 0;
  transition: 1s;
  z-index: 1000;
}

.blank{
  height: 50vh;
  display: flex;
  background: #fff;
}

.hidden{
  display: none !important;
}

@mixin line-clamp($lines, $line-height) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  max-height: $lines * $line-height;
  text-overflow: ellipsis;
  overflow: hidden;
}



@media screen and (min-width: 960px) {
  .menu-trigger{
    display: none;
  }
}