.portals {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;


        .clic {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 50%;
            background: linear-gradient(314deg, #C7B0E6 30%, #F4DCE1 100%);
            border-radius: .8rem;
            padding: 2rem 0;

            /* PROS */
            .portals__container__pros,
            .portals__container__parents {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                .portals__texts {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 60%;

                    h3 {
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 3.2rem;
                        line-height: 100%;
                        text-align: center;
                        text-transform: uppercase;

                        color: var(--white);

                        margin-bottom: 1.6rem;

                    }

                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 120%;
                        text-align: center;

                        color: #FFFFFF;

                        width: 80%;

                        margin-bottom: 1.6em;
                    }

                    button {
                        text-decoration: none;
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                        text-align: center;
                        text-transform: uppercase;

                        color: var(--violet);
                        background-color: var(--white);
                        border-radius: 3rem;
                        border: none;
                        padding: 1rem 2.4rem;

                        transition: .3s;

                        svg {
                            height: 1rem;
                            fill: var(--violet);
                            transition: .3s;
                        }

                        &:hover {
                            color: var(--white);
                            background-color: var(--violet);
                            transition: .3s;

                            svg {
                                fill: var(--white);
                                transition: .3s;
                            }
                        }
                    }
                }
            }

            .portals__img {
                width: 40%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    position: relative;
                    object-fit: cover;
                    width: 130%;
                    height: auto;
                    left: -10%;
                }
            }

        }

        .clic-parents {
            background: linear-gradient(314deg, #95A9DC 30%, #DEE5E9 100%) !important;

            /* PARENTS DIFF */
            .portals__container__parents {

                .portals__texts {
                    button {
                        color: var(--dark-blue);

                        svg {
                            fill: var(--dark-blue);
                        }

                        &:hover {
                            background-color: var(--dark-blue);

                            svg {
                                fill: var(--white);
                            }
                        }
                    }
                }

                .portals__img {
                    img {
                        left: 0;
                    }
                }
            }

        }
    }
}

@media screen and (min-width: 1600px) {
    .portals{
        &__container{
            .clic{
                min-height: 35rem;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .portals {
        &__container {
            width: 80%;
            .clic{
                width: 97%;
                min-height: 32rem;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .portals {
        margin-top: 1.6rem;

        &__container {
            width: 95%;
            gap: 1.6rem;

            .clic{
                width: 97%;
                min-height: 32rem;

                /* PROS */
                .portals__container__pros,
                .portals__container__parents{

                .portals__texts {
                    h3 {
                        font-size: 3.2rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 1.8rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

            &__parents {
                .portals__texts {
                    p {
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .portals {
        &__container {
            flex-direction: column;
            .clic{
                width: 100%;

                /* PROS */
                .portals__container__pros,
                .portals__container__parents {
    
                    .portals__texts {
                        h3 {
                            font-size: 3.2rem;
                            margin-bottom: 1rem;
                        }
    
                        p {
                            font-size: 1.8rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }

            .portals__container__parents {
                .portals__texts {
                    p {
                        width: 90%;
                    }
                }
            }
        }
    }
}