.absence, .exception{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        width: 80% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        padding: 6.4rem 0;

        border-radius: .8rem;
        background: linear-gradient(314deg, #FFF9EA 0%, #EEF9FF 100%);


        h3{
            color: var(--orange);
            text-transform: uppercase;
            text-align: center;
        }

        p{
            width: 80%;
        }

        &__details{

            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.6rem;

            #select_absence, #select_exception{
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                gap: 2rem;

                select, input[type="submit"]{
                    cursor: pointer;
                }

              

                #children{
                    font-size: 1.4rem;
                    font-family: Nunito;
                    font-weight: 900;
                    text-transform: uppercase;
                    background-color: var(--violet);
                    color: var(--white);

                    border: none;
                    padding: 1.6rem;
                    border-radius: .8rem;

                    width: 100%;
                    height: 100%;

                    border-right: 1rem solid transparent;

                    &:focus-visible{
                        outline: unset;
                    }
                }

                .input_container{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;


                    label{
                        font-family: "Nunito", sans-serif;
                        font-weight: 900;
                        font-size: 1.2rem;
                        color: var(--gray);
                        margin-bottom: .8rem;
                    }

                    input{
                        width: 100%;
                        padding: 1rem;
                        font-family: "Roboto" ,sans-serif;
                        font-weight: 400;
                        font-size: 1.2rem;
                        color: var(--light-gray);
                        border: unset;
                        border-radius: .4rem;

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    input[type="date"]{
                        &::-webkit-calendar-picker-indicator{
                            color: rgba(0, 0, 0, 0);
                            opacity: 1;
                            display: block;
                            background: url(../img/icon_calendar.svg) no-repeat;
                            background-size: contain;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-width: none;
                         }
                    }

                    input[type="time"]{
                        &::-webkit-calendar-picker-indicator{
                            color: rgba(0, 0, 0, 0);
                            opacity: 1;
                            display: block;
                            background: url(../img/icon_clock.svg) no-repeat;
                            background-size: contain;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-width: none;
                         }
                    }

                    select{
                        font-family: "Roboto" ,sans-serif;
                        font-weight: 400;
                        font-size: 1.2rem;
                        background-color: var(--white);
                        color: var(--light-gray);

                        border: none;
                        padding: 1rem;
                        border-radius: .4rem;

                        width: 100%;
                        height: 100%;

                        border-right: 1rem solid transparent;

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    textarea{
                        width: 100%;
                        min-height: 15rem;
                        border: unset;
                        font-family: "Roboto" ,sans-serif;
                        font-weight: 400;
                        font-size: 1.2rem;
                        color: var(--gray);

                        border-radius: .4rem;

                        padding: 1rem;

                        &::first-letter{
                            text-transform: uppercase;
                        }

                        &::placeholder{
                            // font-family: "Roboto" ,sans-serif;
                            // font-weight: 400;
                            // font-size: 1.2rem;
                            color: var(--light-gray);
                        }

                        &:focus-visible {
                            outline: none;
                        }
                    }
                }

                .checkbox-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2rem;
    
                    input[type="checkbox" i] {
                        width: unset;
                        border: none;
                        margin-top: 0;
                        margin-bottom: 0;
                        margin-left: 0;
                        margin-right: 1rem;
                        padding: 0;
                        width: 2rem;
                        height: 2rem;
                    }
                    label{
                        font-family: "Roboto" ,sans-serif;
                        font-weight: 400;
                        font-size: 1.2rem;
                        line-height: 2rem;
                        margin-bottom: 0;
                    }
                }

                input[type="submit"]{
                    align-self: center;
                    font-family: "Nunito", sans-serif;
                    border: unset;
                    background-color: var(--orange);
                    color: var(--white);
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    font-size: 1.6rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    width: 50%;
                }
            }
        }
    }
}

.exception{
    &__container{
        h3{
            color: var(--dark-green);
        }
       &__details{
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        gap: 2rem;

        #select_exception{
            width: 48%;
        }
        .recap{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;

            width: 48%;
            background-color: var(--white);
            border-radius: .8rem;
            padding: 2rem;
            gap: 2rem;

            h4, p{
                width: 100%;
                text-align: center;
            }

            h4{
                color: var(--dark-green);
                text-transform: uppercase;
                font-weight: 900;
            }

            &__asks{
                width: 100%;
                
                thead{
                    tr{
                        background-color: var(--dark-green);
                        th{
                            color: var(--white);
                            font-family: "Nunito", sans-serif;
                            font-size: 1.2rem;
                            font-weight: 900;
                            text-transform: uppercase;
                            text-align: center;
                            padding: 1rem;
                        }
                    }
                }

                tbody{
                    tr{
                        border-bottom: 1px dashed var(--light-gray);
                        td{
                            color: var(--gray);
                            font-family: "Roboto", sans-serif;
                            font-size: 1.2rem;
                            font-weight: 400;
                            padding: 1rem;
                            text-align: center;
                        }

                        .accepted{
                            color: var(--dark-green);
                        }
                        .rejected{
                            color: var(--red);
                        }
                    }
                }
            }
        }
       }
    }
}

@media screen and (min-width: 1600px) {
    .exception{
        &__container{
            h3, p{
                width: 70%;
                line-height: 140%;
            }
            h3{
                font-size: 4rem;
            }
            p{
                font-size: 2rem;
            }

            &__details{
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .absence{
        &__container{
            width: 95%;
            &__details{
                width: 90%;
                #select_absence{
                    width: 100%;
                }
            }
        }
    }
    .exception{
        &__container{
            width: 95%;
            &__details{
                width: 90%;
                #select_exception{
                    width: 100%;
                }
                .recap{
                    width: 100%;
                    .table{
                        overflow-x: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .absence{
        &__container{
            width: 95%;
            &__details{
                width: 95%;
                #select_absence{
                    width: 100%;
                }
            }
        }
    }

    .exception{
        &__container{
            width: 95%;
            h3, p{
                width: 90%;
            }
            p{
                text-align: justify;
            }
        }
    }
}